doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    header 
      a(href="/",style="margin-bottom:10px;padding-bottom:8px") Home
      if user
        p(class="user-welcome")="Welcome " + user.name
          a(href="/logout",style="margin-bottom:10px;padding-bottom:8px",class="logout") Log Out
      else
        a(href="/sign-up",style="margin:10px 10px;padding-bottom:8px") Sign Up
        a(href="/login",style="margin:10px 10px;padding-bottom:8px") Log In
    block content
