extends layout 
block content 
    h1=title 
    form(method="POST",action="")
        label(for="name") Name
            br
            input(type="text",id="name",value="",name="name" required)
        br
        label(for="email") Email
            br
            input(type="email",id="email",value="",name="email" required)
        br
        label(for="password") Password
            br
            input(type="password",id="password",value="",name="password" required)
        br
        label(for="confirmpassword") Confirm Password
            br
            input(type="password",id="confirmpassword",value="",name="confirmpassword" required)
        br
        input(type="submit")
    if errors 
        each error in errors 
            li(class="errors")=error.msg