body {
    margin: 0px;
    padding: 30px;
    font-family: monospace;
    border-bottom: none;
    word-break: break-word;
    background-color: #ffffff;
    opacity: 1;
    background-image: radial-gradient(#000000 0.5px, #ffffff 0.5px);
    background-size: 10px 10px;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    /* font-size: ; */
    background:linear-gradient(90deg,#000 50%,#0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
  }
  .loader::before {
    content :"Loading...";
    color: #0000;
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg,#fff 50%,#000 0);
    -webkit-background-clip:text;
            background-clip:text;
  }
  
  @keyframes l21{
    100%{background-position: left}
  }

a {
    background-color: #ffffff;
    border: 1px solid rgb(209, 213, 219);
    border-radius: 0.5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem !important;
    text-align: center;
    text-decoration: none #d1d5db solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: capitalize;
}

a:hover {
    background-color: rgb(249, 250, 251);
}

a:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

a:focus-visible {
    box-shadow: none;
}

a.delete {
    background-color: black;
    color: white;
}

h1 {
    color: rgb(91, 91, 91);
    font-family: monospace;
    box-shadow: 0px 1px rgba(90, 90, 90);
    text-transform: capitalize;
}

/* a:visited{
  color:purple;
} */

label {
    text-transform: capitalize;
    font-size: 0.9rem;
    padding-left: 3px;
}

input {
    margin-bottom: 5px;
    width: 80%;
    max-width: 400px;
    height: 26px;
    font-size: large;
    border: 2px solid rgb(101, 101, 101);
    border-radius: 5px;
}

input[type="submit"] {
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    width: 100px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px black;
}

a.create {
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.694);
    color: white;
}

input[type="submit"]:active {
    box-shadow: none;
}

input:focus:not(input[type="submit"]),
select:focus {
    box-shadow: 2px 2px black;
    outline: none;
}

select {
    margin-bottom: 5px;
    width: 406px;
    max-width: 82%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 85px;
}

.collections li div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-left: 10px;
    padding: 8px;
}

.collections li {
    border-left: 4px solid rgba(128, 128, 128, 0.489);
    border-radius: 3px;
}

.collections {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.layout li {
    padding: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    align-items: start;
    /* max-width: 25ch; */
}

.title{
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
    padding: 4px;
    border-radius: 6px;
    width: max-content;
}

.layout li p {
    text-overflow: ellipsis;
}

p {
    all: unset;
    font-size: 1rem;
}

p strong{
    color: rgba(70, 70, 70, 0.804);
    font-size: 0.9rem;
}

.item-img {
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background: rgba(128, 128, 128, 0.237);
    border-radius: 16px;
}

.item-img img {
    filter: brightness(0.9);
    object-fit: cover;
    min-width: 250px;
    max-width: 350px;
    max-height: 400px;
    resize: both;
    border-radius: 9px;
    border: 2px solid black;
}

.not-center {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.layout li p {
    /* max-width: 80%; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.user-welcome {
    font-size: larger;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin: 0px 10px;
    text-align: center;
    text-transform: uppercase;
}

header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.logout {
    font-size: small;
    font-weight: 600;
}

.delete-update {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-top: 10px;
}

.errors {
    list-style: none;
    color: red;
    font-size: 1rem;
    margin-top: 10px;
    box-shadow: -2px 0px;
    padding-left: 8px;
}
