body {
    margin: 0px;
    padding: 30px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    border: 2px solid black;
    border-bottom: none;
    word-break: break-word;
    background-color: #00b7ff3b;
}

a {
    color: blue;
    text-transform: capitalize;
    text-decoration: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 3px;
    padding: 4px;
}

a:active{
    background-color: red;
    color: white;
}

h1 {
    box-shadow: 0px 2px;
    text-transform: capitalize;
}

/* a:visited{
  color:purple;
} */

label {
    text-transform: capitalize;
    font-size: 0.9rem;
    padding-left: 3px;
}

input {
    margin-bottom: 5px;
    width: 80%;
    max-width: 400px;
    height: 22px;
    border: 2px solid black;
    border-radius: 5px;
}

input[type="submit"] {
    margin-bottom: 5px;
    text-align: center;
    width: max-content;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

input:focus,
select:focus {
    border: 2px dashed blueviolet;
    outline: none;
}

select {
    margin-bottom: 5px;
    width: 406px;
    max-width: 82%;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-start;
}

.layout li {
    box-shadow: 3px 3px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 25ch;
}

.layout li p {
    text-overflow: ellipsis;
}

.item-img {
    border-radius: 9px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-img img {
    width: 200px;
    resize: both;
    border-radius: 9px;
    border: 2px solid black;
}

.not-center {
    justify-content: start;
    text-align: left;
}

.layout li p {
    max-width: 25ch;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
